<div class="filter-view">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search</mat-icon>
            By text
          </mat-panel-title>
          <mat-panel-description>
            {{filterInfo.text}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="full-width">
          <input matInput class="full-width" placeholder="Search text" value={{filterInfo?.text}} (input)="filterInfo.text=$event.target.value">
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="warn" (click)="clearTextFilter()">
            <mat-icon>clear</mat-icon>
            Clear
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>date_range</mat-icon>
            Date range
          </mat-panel-title>
          <mat-panel-description>
            {{dateFiltersToString()}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="after-margin">
          <input matInput [matDatepicker]="pickerStart" placeholder="Start Date" (dateChange)="startDateChanged('change', $event)"
            [formControl]="convertDateToForm(filterInfo.startDate)">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart touchUi="true"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="after-margin">
          <input matInput [matDatepicker]="pickerEnd" placeholder="End Date" (dateChange)="endDateChanged('change', $event)" [formControl]="convertDateToForm(filterInfo.endDate)">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd touchUi="true"></mat-datepicker>
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="warn" (click)="clearDateFilter()">
            <mat-icon>clear</mat-icon>
            Clear
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>ballot</mat-icon>
            Total
          </mat-panel-title>
          <mat-panel-description>
            Filters by total amount range
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="after-margin">
          <input matInput placeholder="" value={{filterInfo?.minTotal}} (input)="filterInfo.minTotal=$event.target.value" type="number">
        </mat-form-field>
        <mat-form-field class="after-margin">
          <input matInput placeholder="" value={{filterInfo?.maxTotal}} (input)="filterInfo.maxTotal=$event.target.value" type="number">
        </mat-form-field>

        <mat-action-row>
          <button mat-raised-button color="warn" (click)="clearTotalFilter()">
            <mat-icon>clear</mat-icon>
            Clear
          </button>
        </mat-action-row>
      </mat-expansion-panel> -->
    </mat-accordion>

    <!-- <button mat-raised-button color="warn" (click)="clearAll()">
      <mat-icon>clear_all</mat-icon>
      Clear All Filters
    </button> -->
  </div>